<template>
  <div>
    <div class="fancy-radio" :class="active">
      <span>{{text}}</span>
      <div class="status" :class="active"></div>
      <div class="status-icon">+</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FancyRadio',
  props: ['text', 'active']
}
</script>

<style>
.fancy-radio {
  border-radius: 9px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 11px -7px rgba(0,0,0,.2);
  box-shadow: 0 4px 11px -7px rgba(0,0,0,.2);
  opacity: .7;
  cursor: pointer;
  position: relative;
  padding: 20px;
  color: #444;
  padding-right: 40px;
  font-size: 15px;
  letter-spacing: .51px;
  line-height: 18px;
  margin-bottom: 15px;
}

.active {
    -webkit-box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    box-shadow: 0 4px 11px -2px rgba(86,70,143,.3);
    color: #ff3464;
    opacity: 1;
}

.fancy-radio .status {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 9px 0 0 9px;
    background-color: #c3c3c3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    z-index: 1;
}

.fancy-radio .status-icon {
    color: #fff;
    z-index: 2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

.active .status {
  background-color: #56468f;
}
</style>
