<template>
  <div class="card w-50">
    <div class="card-header bg-transparent">
      <div>
        <img src="@/assets/svg/back.svg" alt="back" class="btn-back" @click="back">
        <img src="@/assets/svg/logo.svg" alt="logo" class="logo">
      </div>
    </div>
    <div class="progress" style="height: 5px;">
      <div class="progress-bar" role="progressbar" :style="{width: progress}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="card-body">
       <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardKeto',
  props: ['progress'],
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style>
.logo {
  width: 130px;
}

.btn-back {
  width: 18px;
  margin-right: 30px;
  cursor: pointer;
}

.progress-bar {
  background: #56468f;
}
</style>
