<template>
  <card-keto progress="33%">
    <h3>Você conhece a dieta Keto?</h3>
    <div class="mt-3">
      <fancy-radio text="Especialista" :active="isActive(1)" @click.native="setStep(1)"></fancy-radio>
      <fancy-radio text="Eu ouvi uma coisa ou duas" :active="isActive(2)" @click.native="setStep(2)"></fancy-radio>
      <fancy-radio text="Principiante" :active="isActive(3)" @click.native="setStep(3)"></fancy-radio>
    </div><i class="la la-check-circle-o"></i>
  </card-keto>
</template>

<script>
import CardKeto from '@/components/card/CardKeto'
import FancyRadio from '@/components/radio/FancyRadio'

export default {
  name: 'home',
  components: {
    CardKeto,
    FancyRadio
  },
  methods: {
    isActive (item) {
      return this.$store.state.step1 === item ? 'active' : ''
    },
    setStep (value) {
      this.$store.dispatch('setStep1', value)
      this.$router.push({ path: 'step2' })
    }
  }
}
</script>
