<template>
  <card-keto progress="66%">
    <h3>O que é dieta Keto?</h3>
    <div class="mt-3">
      <p>
        A dieta cetogênica é uma dieta muito baixa em carboidratos e rica em gorduras. Para alcançar resultados positivos, essa dieta deve ser muito baixa em carboidratos, rica em gordura e incluir uma quantidade moderada de proteínas. Essa redução de carboidratos coloca seu corpo em um estado metabólico chamado cetose. Quando isso acontece, seu corpo se torna incrivelmente eficiente na queima de gordura para obter energia. A dieta cetogênica pode causar reduções maciças no açúcar no sangue, nos níveis de insulina e ajudar na perda de peso.
      </p>
      <h3>Benefícios da dieta ceto:</h3>
      <ul>
        <li><i class="fa fa-check-circle-o"></i> Perda de peso</li>
        <li><i class="fa fa-check-circle-o"></i> Pressão arterial reduzida</li>
        <li><i class="fa fa-check-circle-o"></i> Processo de envelhecimento mais lento</li>
        <li><i class="fa fa-check-circle-o"></i> Melhor sono e humor</li>
        <li><i class="fa fa-check-circle-o"></i> Maior eficiência energética</li>
      </ul>
      <button class="btn btn-primary-keto btn-block" @click="setStep">Entendi</button>
    </div>
  </card-keto>
</template>

<script>
import CardKeto from '@/components/card/CardKeto'

export default {
  name: 'Step2',
  components: {
    CardKeto
  },
  methods: {
    setStep () {
      this.$store.dispatch('setStep2')
      this.$router.push({ path: 'step3' })
    }
  }
}
</script>

<style scoped>
i {
  color: #56468f;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px;
}

.btn-primary-keto {
    border-radius: 22px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #ff3464;
    -webkit-box-shadow: 0 4px 11px -2px #ff3464;
    box-shadow: 0 4px 11px -2px #ff3464;
    color: #fff;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    outline: none;
    margin-top: 25px;
    letter-spacing: .68px;
    padding: 12px;
    line-height: 23px;
}
</style>
