<template>
  <card-keto progress="90%">
    <h3>Quanto tempo você tem para a preparação das refeições por dia?</h3>
    <div class="mt-3">
      <fancy-radio text="Até 30 minutos" :active="isActive(1)" @click.native="setStep(1)"></fancy-radio>
      <fancy-radio text="Até 1 hora" :active="isActive(2)" @click.native="setStep(2)"></fancy-radio>
      <fancy-radio text="Mais de 1 hora" :active="isActive(3)" @click.native="setStep(3)"></fancy-radio>
    </div><i class="la la-check-circle-o"></i>
  </card-keto>
</template>

<script>
import CardKeto from '@/components/card/CardKeto'
import FancyRadio from '@/components/radio/FancyRadio'

export default {
  name: 'Step3',
  components: {
    CardKeto,
    FancyRadio
  },
  methods: {
    isActive (item) {
      return this.$store.state.step3 === item ? 'active' : ''
    },
    setStep (value) {
      this.$store.dispatch('setStep3', value)
    }
  }
}
</script>
