<template>
  <div>
    <div class="container d-flex justify-content-center">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
@import './assets/styles/custom';

.container {
  margin-top: 100px;
  margin-bottom: 50px;
}
</style>
